@charset "utf-8";
/* CSS Document */

main > .container {
  padding: 60px 15px 0;
}

#detaiblocekModalBody #blocekDetail table
{/* // toto som ignoroval ale treba to este otestovat v inych prehliadacoch
	margin: 0 0 30px 0;
	padding: 0;*/
	width: 100%;		
}

#videoContainer {
	width: 100%;	
/*	min-height:290px;*/
	margin: -1rem;
}

#videoContainer video {
	padding: -1rem;
}

#videoContainer {
        line-height: 0;
    }   

#videoContainer .scan-region-highlight-svg   {
	   stroke: #0d6efd !important; 
    }
/*	
 elegantna tema pri zobrazovani qr_skeneru 
    #videoContainer {
        position: relative;
        width: max-content;
        height: max-content;
        overflow: hidden;
    }
    #videoContainer .scan-region-highlight {
        border-radius: 30px;
        outline: rgba(0, 0, 0, .25) solid 50vmax;
    }
    #videoContainer .scan-region-highlight-svg {
        display: none;
    }
    #videoContainer .code-outline-highlight {
        stroke: rgba(255, 255, 255, .5) !important;
        stroke-width: 15 !important;
        stroke-dasharray: none !important;
    }
*/


